<div ui-view class="container">
    <div class="col-xs-6" ng-controller="QuestoinsCtrl as questions_ctrl">
        <h2>Вопросы</h2>
        <br>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Текст</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in questions_ctrl.questions">
                <td>{{ question.text }}</td>
            </tr>
            </tbody>
        </table>
        <form class="form-inline" ng-submit="questions_ctrl.addQuestion()">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Текст вопроса" ng-model="questions_ctrl.newQuestion.text">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Добавить</button>
        </form>
    </div>
</div>