<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Questdesigner</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ui-view>
<%= yield %>
</div>
</body>
</html>
